<div class="container mt-4">
    <div class="row">
      
        <div class="col-md-4">
            <div class="card dashboard-card">
              <div class="card-body">
                <a routerLink="/admin-clients" class="btn btn-primary">+</a>
                <h3>add car</h3>
              </div>
            </div>
          </div>
      <div class="col-md-4">
        <div class="card dashboard-card">
          <div class="card-body">
            <h5 class="card-title">Manage Clients</h5>
            <p class="card-text">View, approve, or remove rental providers.</p>
            <a routerLink="/admin-clients" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div class="card dashboard-card">
          <div class="card-body">
            <h5 class="card-title">Manage Customers</h5>
            <p class="card-text">View all customers and their activities.</p>
            <a routerLink="/admin-customers" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
  
      <div class="col-md-4">
        <div class="card dashboard-card">
          <div class="card-body">
            <h5 class="card-title">Reports</h5>
            <p class="card-text">View purchase/rental statistics.</p>
            <a routerLink="/admin-reports" class="btn btn-primary">Go</a>
          </div>
        </div>
      </div>
  
    </div>
  </div>