.request-card {
    background: #fefefe;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 6px;
  }
  
  .pending {
    color: orange;
  }
  .approved {
    color: green;
  }
  .rejected {
    color: red;
  }
  