
<div class="dashboard-container">
    <aside class="sidebar">
      <h2>client Panel</h2>
      <nav>
        <a routerLink="/client/profile" routerLinkActive="active">Profile</a>
        <a routerLink="/client/add-car" routerLinkActive="active">add-car</a>
        <a routerLink="/client/cars" routerLinkActive="active">car-list</a>
        <a routerLink="/client/car/:id" routerLinkActive="active">car-details</a>
        <a routerLink="/client/ClientRequest" routerLinkActive="active">Requests</a>
        <a routerLink="/auth/login">Logout</a>
      </nav>
    </aside>
  
    <main class="main-content">
      <header class="main-header">
        <div class="user-info">
          <span >{{ currentUser.name }}</span>
          
        </div>
      </header>
  
      <section class="content">
        <h2>Client Dashboard</h2>
  
  <section>
    <h3>Your Cars</h3>
    <ul>
      <li *ngFor="let car of cars">
        {{ car.owner }} - {{ car.model }} ({{ car.year }})
      </li>
    </ul>
  </section>
  
  <section>
    <h3>Customer Requests</h3>
    <div *ngIf="requests.length === 0">No customer requests yet.</div>
    <div *ngFor="let req of requests" class="request-card">
      <p><strong>Car ID:</strong> {{ req.carId }}</p>
      <p><strong>Customer ID:</strong> {{ req.customerId }}</p>
      <p><strong>Type:</strong> {{ req.type }}</p>
      <p><strong>Status:</strong> {{ req.status }}</p>
    </div>
  </section>
        <router-outlet></router-outlet>
      </section>
    </main>
  </div>
  